@import '../../global.scss';

.topbar{
  background-color: white;
  color: $mainColor;
  height: 70px;
  position: fixed;
  top: 0;
  transition: all 1s ease;
  width: 100%;
  z-index: 3;

  .wrapper{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left{
      align-items: center;
      display: flex;

      .logo{
        color: inherit;
        font-size: 40px;
        font-weight: 700;
        margin-right: 40px;
        text-decoration: none;
      }

      .itemContainer{
        align-items: center;
        display: flex;
        margin-left: 30px;

        @include mobile{
          display: none;
        }

        .logos{
          color: inherit;
        }

        .icon{
          font-size: 18px;
          margin-right: 5px;
        }

        span{
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .right{

      .hamburguer{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 25px;
        justify-content: space-between;
        width: 32px;

        span{
          background-color: $mainColor;
          height: 3px;
          transform-origin: left;
          transition: all 2s ease;
          width: 100%;
        }
      }
    }
  }

  &.active{
    background-color: $mainColor;
    color: white;

    .hamburguer{
      span{
        &:first-child{
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:last-child{
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}