@import '../../global.scss';

.intro{
  background-color: white;
  display: flex;

  @include mobile{
    align-items: center;
    flex-direction: column;
  }

  .left{
    flex: 0.5;
    overflow: hidden;

    .imgContainer{
      align-items: flex-start;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      float: right;
      height: 700px;
      justify-content: center;
      width: 700px;

      img{
        height: 70%;

        @include mobile{
          height: 50%;
        }
      }
    }
  }
  
  .right{
    flex: 0.5;
    position: relative;

    .wrapper{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding-left: 50px;
      width: 100%;

      @include mobile{
        align-items: center;
        padding-left: 0px;
      }

      h1{
        font-size: 55px;
        margin: 10px 0;

        @include mobile{
          font-size: 40px;
        }
      }
      h2{
        font-size: 35px;
      }
      h3{
        font-size: 30px;

        @include mobile{
          font-size: 20px;
        }

        span{
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor{
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50%{
            opacity: 1;
          }
          100%{
            opacity: 0;
          }
        }
      }
    }
    a{
      bottom: 10px;
      position: absolute;
      left: 40%;

      img{
        animation: arrowBlink 2s infinite;
        width: 35px;
      }

      @keyframes arrowBlink {
        100%{
          opacity: 0;
        }
      }
    }
  }
}