@import '../../global.scss';

.aboutMe{
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;

  h1{
    font-size: 50px;

    @include mobile{
      font-size: 25px;
      justify-content: space-around;
    }
  }

  .container{
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: center;
    width: 100%;

    @include mobile{
      flex-direction: column;
      height: 100%;
    }

    .card{
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 90%;
      padding: 20px;
      width: 500px;

      @include mobile{
        height: 400px;
        margin: 5px 0;
        width: 90%;
      }

      .center{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        text-align: justify;

        @include mobile{
          font-size: 12px;
          padding: 5px;
        }

        p{
          font-size: 18px;
          padding-bottom: 15px;

          @include mobile{
            font-size: 15px;
          }
        }
      }
    }
  }
}