@import '../../global.scss';

.aboutMe{
  background-color: white;
  display: flex;

  .left{
    flex: 0.5;

    @include mobile{
      flex: 1;
    }

    .container{
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      width: 100%;
  
      @include mobile{
        flex-direction: column;
        height: 100%;
      }

      h1{
        font-size: 50px;
        overflow: hidden;
    
        @include mobile{
          font-size: 25px;
          justify-content: space-around;
        }
      }
  
      .card{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
        padding: 20px;
        width: 500px;
  
        @include mobile{
          height: 400px;
          margin: 5px 0;
          width: 90%;
        }
  
        .center{
          background-color: aliceblue;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 10px;
          text-align: justify;
  
          @include mobile{
            font-size: 12px;
            padding: 5px;
          }
  
          p{
            font-size: 18px;
            padding-bottom: 15px;
  
            @include mobile{
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .right{
    flex: 0.5;
    overflow: hidden;

    @include mobile{
      display: none;
    }

    .imgContainer{
      align-items: flex-start;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      float: left;
      height: 700px;
      justify-content: center;
      width: 700px;

      img{
        height: 70%;

        @include mobile{
          height: 50%;
        }
      }
    }
  }
}